a {
   color: blue;
  text-decoration: none;

  }

  a:hover {
   color: Red;
  text-decoration: none;
  }

  body{
  background-image: url('bck.jpg')
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;

  }
  .img {
    height: 500px;
    width: auto;
  }

  footer {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  h1 {
    color: #075AAB;
    margin-bottom: 0.5;
    margin: 2rem;
  }
